/***** Prep *****/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: horrorFont;
    src: url('res/DemonSker-zyzD.ttf');
  }

.banner {
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

/*-------------------------------------------------------*/


/***** All Backgrounds *****/
#menubg {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('res/background.jpg');
    background-size: cover;
    background-position: center;
    animation: flicker 2s linear 1s infinite;
}

#firstbg {
    background-color: black;
    background-image: url('res/jumpscare.gif');
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#floor2 {
    background-image: url('res/house/floor2room.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}

#f2hallway {
    background-image: url('res/house/f2hallway.jpg');
    background-position: center;
}

#bedroom {
    background-image: url('res/house/bedroom.jpg');
    background-size: cover;
    background-position: center;
}

#bedroom2 {
    background-image: url('res/house/bedroom2.jpg');
    background-size: cover;
    background-position: center;
}

#playroom {
    background-image: url('res/house/playroom.jpg');
    background-size: cover;
    background-position: center;
}

#attic {
    background-image: url('res/house/attic.jpg');
    background-size: cover;
    background-position: center;
}
/*-------------------------------------------------------*/


/***** Room Display *****/
.strtscrn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px green;
}

.strtscrn h1 {
    position: absolute;
    top: 20%;
    font-family: horrorFont;
    letter-spacing: 7px;
}

.strtscrn h1:hover {
    cursor:default;
}

.strtopt {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    row-gap: 2em;
    font-size: 0.5em;
    font-family: 'Special Elite';
}

.strtopt #infotext {
    display: none;
}

a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

#info {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: green;
    text-shadow: 2px 2px white;

    animation: distort .3s linear infinite alternate;
}

#info:hover {
    color: green;
    text-shadow: 2px 2px white;
    cursor: pointer;

    animation: distort .3s linear infinite alternate;
}


/*-------------------------------------------------------*/


/***** Animations *****/
@keyframes flicker
{
    0% {filter: none;}
    3% {filter: brightness(10%)}
    7% {filter: brightness(10%)}
    8% {filter: none;}
    9% {filter: none;}
    10% {filter: brightness(10%)}
    20% {filter: none;}
    50% {filter: none;}
    90% {filter: brightness(10%)}
    100% {filter: none;}
}

@keyframes distort
{
    0% {transform: skew(100deg);}
    2% {transform: skew(3deg);}
    25% {transform: skew(-3deg);}
    75% {transform: skew(3deg);}
    100% {transform: skew(-3deg);}
}