/***** Prep *****/
* {
    margin: 0 0;
    padding: 0 0;
}

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('res/NightsideDemoRegular.ttf');

@font-face {
    font-family: horrorFont;
    src: url('res/DemonSker-zyzD.ttf');
}



/***** For Mobile View *****/
#mobileview {
    position: absolute;
    top: 35%;
    font-size: .6em;
    font-family: horrorFont;
    letter-spacing: 7px;
}

/* Only displays mobile if its on mobile viewport */
@media only screen 
and (max-device-width: 1000px)
{ 
    #mobileview {
        display: flex;
    }

    .banner {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding: 0% 3% 0% 3%;
    }
}

@media only screen 
and (min-device-width: 1000px)
{ 
    #mobileview {
        display: none;
    }

    .banner {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding: 0% 5% 0% 5%;
    }
}

/*-------------------------------------------------------*/


/***** All Backgrounds *****/
#menubg {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('res/background.jpg');
    background-size: cover;
    background-position: center;
    animation: flicker 2s linear 1s infinite;
}

#firstbg {
    background-color: black;
    background-image: url('res/jumpscare.gif');
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#jumpscare {
    background-image: url('res/jumpscare.jpg');
    background-color: #1F1F1F;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#livingbg {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('res/house/lobby.jpg');
    background-color: black;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#hallbg {
    background-color: black;
    background-image: url('res/house/hallway.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#diningbg {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('res/house/dining.png');
    background-color: black;
    background-size: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    animation: flicker 4s linear 1s infinite;
}

#kitchenbg {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65)), url('res/house/kitchen.png');
    background-color: black;
    background-size: 90vw;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(15, 35, 0, 0.9) inset;
    animation: flicker 4s linear 1s infinite;
}

#librarybg {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('res/house/hauntedlibrary.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(15, 35, 0, 0.9) inset;
}

#pianobg {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('res/house/pianoroom.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    animation: slowflicker 4s linear 1s infinite;
}

#basebg {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('res/house/lockedDoor.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#floor2 {
    background-image: url('res/house/floor2room.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}

#f2hallway {
    background-image: url('res/house/f2hallway.jpg');
    background-position: center;
}

#bedroom {
    background-image: url('res/house/bedroom.jpg');
    background-size: cover;
    background-position: center;
}

#bedroom2 {
    background-image: url('res/house/bedroom2.jpg');
    background-size: cover;
    background-position: center;
}

#playroom {
    background-image: url('res/house/playroom.jpg');
    background-size: cover;
    background-position: center;
}

#attic {
    background-image: url('res/house/attic.jpg');
    background-size: cover;
    background-position: center;
}

/*-------------------------------------------------------*/


/***** Room Display *****/
.story {
    padding: 0 5% 0 5%;
    text-align: justify;
    color: white;
    font-family: 'Special Elite';
    font-size: 1.5em;
    position: absolute;
    top: 3%;
    line-height: 2em;
}

/*** Start ***/
.strtscrn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px green;
}

.strtscrn h1 {
    position: absolute;
    top: 20%;
    font-family: horrorFont;
    letter-spacing: 7px;
}

.strtscrn h1:hover {
    cursor: default;
}

.strtopt {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    row-gap: 2em;
    font-size: 0.5em;
    font-family: 'Special Elite';
}

.strtopt #infotext {
    display: none; 

    position: absolute;
    width: 50vw;
    top: -50%;
    
    font-size: 0.7em;
    background-color: rgba(0, 20, 0, 0.85);
    padding: 8% 8% 8% 8%;
    border: 0.25em solid ;
    text-align: justify;
    line-height: 1.5em;
    vertical-align: text-top;
}

#infotext p {
    position: relative;
    top: -30%
}

a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Special Elite';
}

#info {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

#closeInfo {
    color: white;
    text-decoration: underline;
    font-weight: normal;
}

a:hover {
    color: green;
    text-shadow: 2px 2px white;
}

.strtscrn a:hover {
    animation: distort .3s linear infinite alternate;
}

#info:hover {
    color: green;
    text-shadow: 2px 2px white;
    cursor: pointer;

    animation: distort .3s linear infinite alternate;
}

#closeInfo:hover {
    color: green;
    text-shadow: 2px 2px white;
    cursor: pointer;

    animation: distort .3s linear infinite alternate;
}

/*** Living ***/
#livingopt {
    font-family: 'Special Elite';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 40%;
    font-size: 2em;
}

/*** Halls ***/
.hallscrn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hallopt {
    font-family: 'Special Elite';
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15% 8% 0% 8%;
    font-size: 2em;
}

#floor2opt {
    font-family: 'Special Elite';
    display: grid;
    grid-template-columns: 1fr;
    padding: 15% 8% 0% 8%;
    font-size: 2em;
}

#f2hallwayopt {
    font-family: 'Special Elite';
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15% 8% 0% 8%;
    font-size: 2em;
}
/*** Dining ***/
.dinescrn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** Kitchen ***/
.kitscrn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** Libray ***/
.libscrn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** Piano ***/
.pianoscrn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** Basement ***/
#door {
    position: absolute;
    top: 10%;
    font-size: 1em;
}

#clue {
    position: absolute;
    top: 10%;
}

/*** Playroom ***/
#playroomopt {
    font-family: 'Special Elite';
    font-size: 5em;
    color:greenyellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15% 8% 0% 8%;
}

/*** Attic ***/
#atticopt {
    padding-top: 20%;
    font-family: 'Special Elite';
    font-size: 2em;
    color:red;
    display: grid;
    grid-template-columns: 1fr;
}

/***** Miscellaneous *****/
.back {
    position: absolute;
    top: 90%;
    background-image: url('res/arrow.png');
    padding: 2em 2em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    filter: drop-shadow(5px 5px 15px rgb(50, 50, 50))
}

.back:hover {
    transform: scale(1.25);
}

.first {
    text-align: left;
}

.middle {
    text-align: center;
}

.last {
    text-align: right;
}

#headphones {
    position: absolute;
    top: 90%;
    font-size: 0.25em;
    font-family: 'Special Elite';
}

#riddle {
    font-style: italic;
    font-size: .75em;
}

#portal {
    margin-top: 19%;
    margin-left: 59%;
}

#question {
    padding-top: 5%;
    text-align: center;
    color:greenyellow;
    font-family: 'Special Elite';
    font-size: 5em;
    line-height: 2em;
}

#child {
    top: 300px;
    padding-left: 40%;
    width: 165px;
    height: 298px;
}

.btn {
    position:absolute;
    bottom: 450px;
    left: 900px;
    cursor: pointer; 
    border:transparent;
    background-color: transparent; 
    height: 50px; 
    width: 200px; 
    color: red; 
    font-size: 1.5em; 
}
#door {
    top: 15%;
    left: 38vw;
    position: absolute;
    background-color: white;
    height: 75vh;
    width: 20vw;b
}


/*-------------------------------------------------------*/


/***** Animations *****/
@keyframes flicker {
    0% {
        filter: none;
    }

    3% {
        filter: brightness(10%)
    }

    7% {
        filter: brightness(10%)
    }

    8% {
        filter: none;
    }

    9% {
        filter: none;
    }

    10% {
        filter: brightness(10%)
    }

    20% {
        filter: none;
    }

    50% {
        filter: none;
    }

    90% {
        filter: brightness(10%)
    }

    100% {
        filter: none;
    }
}

@keyframes slowflicker {
    0% {
        filter: none;
    }

    50% {
        filter: brightness(50%)
    }

    100% {
        filter: none
    }
}

@keyframes distort {
    0% {
        transform: skew(100deg);
    }

    2% {
        transform: skew(3deg);
    }

    25% {
        transform: skew(-3deg);
    }

    75% {
        transform: skew(3deg);
    }

    100% {
        transform: skew(-3deg);
    }
}